* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 736px;
    border-radius: 24px;
    margin: 124px 0 124px 0;
}

.container__header, 
.container__ingredients,
.container__instructions,
.container__nutrition {
    margin: 0 40px 0 40px;
}

.container__header {
    margin-top: 40px;
}

.container__header__img {
    width: 656px;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.container__header__title {
    font-family: 'Young Serif', sans-serif;
    font-size: 40px;
    color: hsl(24, 5%, 18%);
    margin-bottom: 24px;
}

.container__header__description {
    font-family: 'Outfit', serif;
    font-size: 16px;
    line-height: 142%;
    color: hsl(30, 10%, 34%);
    margin-bottom: 30px;
}

.container__header__pre-time {
    width: 656px;
    padding: 24px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 12px;
    margin-bottom: 25px;
}

.container__header__pre-time__title {
    font-family: 'Outfit', serif;
    font-size: 20px;
    font-weight: 700;
    color: hsl(332, 51%, 32%);
    margin-bottom: 18px;
}

.container__header__pre-time__lists {
    padding-left: 26px;
    font-family: 'Outfit', serif;
    line-height: 200%;
    color: hsl(30, 10%, 34%);
    font-size: 16px;
}

.container__ingredients__title,
.container__instructions__title,
.container__nutrition__title {
    font-family: 'Young Serif', sans-serif;
    font-size: 30px;
    line-height: 142%;
    letter-spacing: -4%;
    color: hsl(14, 45%, 36%);
    margin-bottom: 21px;
}

.container__nutrition__title {
    margin-bottom: 17px;
}

.container__ingredients__lists {
    padding-left: 24px  ;
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', serif;
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 33px;
}

.container__ingredients__list {
    padding-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    margin-bottom: 25px;
}

ol > li::marker {
    font-weight: bold;
}

.container__instructions__lists {
    padding-left: 24px  ;
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', serif;
    font-size: 16px;
    line-height: 200%;
    line-height: 150%;
    letter-spacing: 5%;
    margin-bottom: 35px;
}

.container__instructions__list {
    margin-bottom: 8px;
}

.container__nutrition__description {
    font-family: 'Outfit', serif;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    margin-bottom: 27px;
}


.container__nutrition__table {
    font-family: 'Outfit', serif;
    font-size: 16px;
    width: 100%;
    margin-bottom: 42px;
    border-collapse: collapse;
}

.container__nutrition__column {
    width: 50%;
    padding: 13px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.container__nutrition__table tr:last-child .container__nutrition__column {
    border: none;
}

.container__nutrition__column:last-of-type {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.container__nutrition__column:first-of-type {
    color: hsl(30, 10%, 34%);
}
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 375px;
        margin: 24px 16px;
    }

    .container__header {
        margin: 0;
    }

    .container__header__img {
        width: 100%;
        height: auto;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
    }

    .container__header__title,
    .container__header__description,
    .container__header__pre-time,
    .container__ingredients,
    .container__instructions,
    .container__nutrition {
        padding: 0 24px;
    }

    .container__header__title {
        margin-top: 40px;
    }

    .container__header__pre-time {
        width: 100%;
    }
}
